# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#ignored
augment_train_data.csv
complete_data.csv
processed_test_set.csv
processed_train_set.csv
processed_val_set.csv
test_set.csv
train_set.csv
val_set.csv