# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

#Ignored Data Sets
augment_train_data.csv
complete_data.csv
test_set.csv
processed_train_set
processed_test_set
processed_val_set
train_set.csv
val_set.csv

#Ignore config file
cfg.py
cfg.cpython-38